<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Listing Pins</h1>

    <% @pins.each do |pin| %>
      <div class="col-md-3">   
        <div class="thumbnail">
          <h4>  <%= pin.description %> </h4>
          <%= image_tag(pin.photo, :class => 'img-responsive') %>  
          <div class="buttons" style="margin-top:10px; margin-bottom: 10px;">  
            <%= link_to 'Show', pin, :class=> 'btn btn-info' %>
            <%= link_to 'Edit', edit_pin_path(pin), :class=> 'btn btn-warning' %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
          </div>  
        </div>
      </div>
    <% end %>


    <br>


  <%= link_to 'New Pin', new_pin_path %>
</div>